
<div class="container" style="margin-top: 50px;">

    <div class="col-md-6" style="padding-left: 0px;">
        <div class="form-group row">
            <label class="col-form-label col-md-10">NUMER NABYTKU</label>
            <span data-toggle="collapse" data-target="#form_text_1_description" style="font-size: 25px;" class="form_tip_sign glyphicon glyphicon-question-sign"></span>
            <div class="col-md-10">
                <button>PRZEGLĄDAJ</button>
            </div>
            <div id="form_text_1_description" class="form_collapse_class collapse aller_light col-md-12">dawdawdawdawdawdawdawd_DESCRIPTOR1</div>
        </div>

        <div class="row form-group">
            <label class="col-form-label col-md-10">SPOSÓB OPRACOWANIA</label>
            <div class="col-md-10">
                <textarea></textarea>
            </div>
        </div>

        <div class="row form-group">
            <label class="col-form-label col-md-10">BIBLIOGRAFIA</label>
            <div class="col-md-10">
                <textarea></textarea>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-md-10">AUTOR OPISU</label>
            <span data-toggle="collapse" data-target="#form_text_2_description" style="font-size: 25px;" class="form_tip_sign glyphicon glyphicon-question-sign"></span>
            <div class="col-md-10">
                <input id="form_input1" class="form-control col-md-10">
            </div>
            <div id="form_text_2_description" class="form_collapse_class collapse aller_light col-md-12">dawdawdawdawdawdawdawd_DESCRIPTOR1</div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-md-10">STOPIEŃ OPRACOWANIA</label>
            <span data-toggle="collapse" data-target="#form_text_3_description" style="font-size: 25px;" class="form_tip_sign glyphicon glyphicon-question-sign"></span>
            <form class="form-horizontal">
                <label class="col-md-2 control-label" for="form_input2">liczba:</label>
                <div class="col-md-8">
                    <input class="form-control" type="number" id="form_input2">
                </div>
                <div class="col-md-10 col-md-offset-2">
                    <input type="radio" name="liczba" value="ja">jednostki archiwalne
                    <input type="radio" name="liczba" value="mb">metry bieżące
                    <input type="radio" name="liczba" value="m"><abbr title="dla plików elektronicznych">Megabajty</abbr>
                </div>
            </form>
            <form class="form-horizontal">
                <label for="form_input3" class="control-label col-md-2"><abbr title="liczba procentowa całości zbioru">liczba %:</abbr></label>
                <div class="col-md-8">
                    <input class="form-control" type="number" id="form_input3">
                </div>
                <div class="col-md-10 col-md-offset-2">
                    <input type="radio" name="liczba_pr" value="ja">jednostki archiwalne
                    <input type="radio" name="liczba_pr" value="mb">metry bieżące
                    <input type="radio" name="liczba_pr" value="m"><abbr title="dla plików elektronicznych">Megabajty</abbr>
                </div>
            </form>
            <div id="form_text_3_description" class="form_collapse_class collapse aller_light col-md-12">dawdawdawdawdawdawdawd_DESCRIPTOR1</div>
        </div>

        <div class="row form-group">
            <label class="col-md-10 col-form-label">ROZMIAR PO ZDIGITALIZOWANIU</label>
            <span data-toggle="collapse" data-target="#form_text_4_description" style="font-size: 25px;" class="form_tip_sign glyphicon glyphicon-question-sign"></span>
            <form class="form-horizontal">
                <label class="col-md-2 control-label" for="form_input4">liczba:</label>
                <div class="col-md-8">
                    <input class="form-control" type="number" id="form_input4">
                </div>
                <div class="col-md-10 col-md-offset-2">
                    <input type="radio" name="rozmiar_po_zdigitalizowaniu" value="plik">pliki
                    <input type="radio" name="rozmiar_po_zdigitalizowaniu" value="megabajty"> Megabajty
                </div>
            </form>
            <div id="form_text_4_description" class="form_collapse_class collapse aller_light col-md-12">dawdawdawdawdawdawdawd_DESCRIPTOR1</div>
        </div>

        <div class="row form-group">
            <label class="col-md-10 col-form-label">UWAGI DOTYCZĄCE OPRACOWANIA</label>
            <span data-toggle="collapse" data-target="#form_text_5_description" style="font-size: 25px;" class="glyphicon glyphicon-question-sign form_tip_sign"></span>
            <div class="col-md-10">
                <textarea></textarea>
            </div>
        </div>
        <div id="form_text_5_description" class="form_collapse_class collapse aller_light col-md-12">dawdawdawdawdawdawdawd_DESCRIPTOR1</div>
    </div>

    <div class="col-md-6" style="padding-left: 0px;">
        <div class="row form-group">
            <label class="col-md-10 col-form-label">WYBRANE NABYTKI</label>
            <span data-toggle="collapse" data-target="#form_text_6_description" style="font-size: 25px;" class="glyphicon glyphicon-question-sign form_tip_sign"></span>
            <div class="col-md-10">
                ----
            </div>
            <div id="form_text_6_description" class="form_collapse_class collapse aller_light col-md-12">dawdawdawdawdawdawdawd_DESCRIPTOR1</div>
        </div>

        <div class="row form-group">
            <label class="col-md-10 col-form-label">DATA DODANIA</label>
            <span data-toggle="collapse" data-target="#form_text_7_description" style="font-size: 25px;" class="glyphicon glyphicon-question-sign form_tip_sign"></span>
            <div class="col-md-10">
                <input class="form-control"type="date">
            </div>
            <div id="form_text_7_description" class="form_collapse_class collapse aller_light col-md-12">dawdawdawdawdawdawdawd_DESCRIPTOR1</div>
        </div>

        <div class="row form-group">
            <label class="col-md-10 col-form-label">STOPIEŃ DIGITALIZACJI</label>
            <span data-toggle="collapse" data-target="#form_text_8_description" style="font-size: 25px;" class="glyphicon glyphicon-question-sign form_tip_sign"></span>
            <form class="form-horizontal">
                <label for="form_input5" class="control-label col-md-2">liczba:</label>
                <div class="col-md-8">
                    <input class="form-control" type="nubmer" id="form_input5">
                </div>
                <div class="col-md-10 col-md-offset-2">
                    <input type="radio" name="stopien_digitalizacji" value="ja"> jednostki archiwalne
                    <input type="radio" name="stopien_digitalizacji" value="mb"> metry bieżące
                </div>
            </form>
            <form class="form-horizontal">
                <label class="col-md-2 control-label"><abbr title="liczba procentowa całości zbioru">liczba %:</abbr></label>
                <div class="col-md-8">
                    <input class="form-control"type="number" id="form_input6">
                </div>
                <div class="col-md-10 col-md-offset-2">
                    <input type="radio" name="stopien_digitalizacji2" value="ja"> jednostki archiwalne
                    <input type="radio" name="stopien_digitalizacji2" value="mb"> metry bieżące
                </div>
            </form>
            <div id="form_text_8_description" class="form_collapse_class collapse aller_light col-md-12">dawdawdawdawdawdawdawd_DESCRIPTOR1</div>
        </div>

        <div class="row form-group">
            <label class="col-md-10 col-form-label">MIEJSCE PRZECHOWYWANIA KOPII CYFROWYCH</label>
            <span data-toggle="collapse" data-target="#form_text_9_description" style="font-size: 25px;" class="glyphicon glyphicon-question-sign form_tip_sign"></span>
            <div class="col-md-10">
                <textarea></textarea>
            </div>
            <div id="form_text_9_description" class="form_collapse_class collapse aller_light col-md-12">dawdawdawdawdawdawdawd_DESCRIPTOR1</div>
        </div>

        <div class="row form-group">
                <label class="col-md-10 col-form-label">UWAGI DOTYCZĄCE DIGITALIZACJI</label>
                <div class="col-md-10">
                    <textarea></textarea>
                </div>
        </div>
    </div>
</div>
