<div class="container" style="margin-top: 50px;">
    <div class="col-md-6">
        <div class="row form-group">
            <label class="col-form-label col-md-10">POSIADACZ PRAW</label>
            <span data-toggle="collapse" data-target="#form_text_1_description" class="glyphicon glyphicon-question-sign form_tip_sign"></span>
            <div class="col-md-10">
                <input type="text" id="form_input1" class="form-control">
            </div>
            <div id="form_text_1_description" class="form_collapse_class collapse aller_light col-md-12">dawdawdawdawdawdawdawd_DESCRIPTOR1</div>
        </div>

        <div class="row form-group">
            <label class="col-form-label col-md-10">LICENCJA</label>
            <span data-toggle="collapse" data-target="#form_text_2_description" class="glyphicon glyphicon-question-sign form_tip_sign"></span>
            <div class="col-md-10">
                <select class="form-control col-md-12">
                    <option>Domena publiczna</option>
                    <option>Brak informacji o ograniczeniach wynikających z prawa autorskiego</option>
                    <option>Creative Commons Uznanie Autorstwa (CC-BY)</option>
                    <option>Creative Commons Uznanie Autorstwa - Użycie Niekomercyjne (CC-BY-NC)</option>
                    <option>Creative Commons Uznanie Autorstwa - Użycie Niekomercyjne - Na Tych Samych Warunkach(CC-BY-NC-SA)</option>
                    <option>Creative Commons Uznanie Autorstwa - Użycie Niekomercyjne - Bez Utworów Zależnych (CC-BY-NC-ND)</option>
                    <option>Creative Commons Uznanie Autorstwa - Na Tych Samych Warunkach (CC-BY-SA)</option>
                    <option>Creative Commons Uznanie Autorstwa - Bez Utworów Zależnych (CC-BY-ND)</option>
                    <option>Wszelkie Prawa Zastrzeżone</option>
                </select>
            </div>
            <div id="form_text_2_description" class="form_collapse_class collapse aller_light col-md-12">dawdawdawdawdawdawdawd_DESCRIPTOR1</div>
        </div>

        <div class="row form-group">
            <label class="col-form-label col-md-10">RESTRYKCJE DOTYCZĄCE WYKORZYSTANIA</label>
            <span data-toggle="collapse" data-target="#form_text_3_description" class="glyphicon glyphicon-question-sign form_tip_sign"></span>
            <div class="col-md-10">
                <textarea></textarea>
            </div>
            <div id="form_text_3_description" class="form_collapse_class collapse aller_light col-md-12">dawdawdawdawdawdawdawd_DESCRIPTOR1</div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row form-group">
            <label class="col-form-label col-md-10">MOŻLIWE POLA EKSPLOATACJI</label>
            <span data-toggle="collapse" data-target="#form_text_4_description" class="glyphicon glyphicon-question-sign form_tip_sign"></span>
            <div class="col-md-10">
                <div class="checkbox"><label><input type="checkbox" name="mozliwepolaeksploatacji" value="druk">druk</label></div>
                <div class="checkbox"><label><input type="checkbox" name="mozliwepolaeksploatacji" value="zapismagnetyczny">zapis magnetyczny</label></div>
                <div class="checkbox"><label><input type="checkbox" name="mozliwepolaeksploatacji" value="zapistechnikacyfrowa">zapis techniką cyfrową</label></div>
                <div class="checkbox"><label><input type="checkbox" name="mozliwepolaeksploatacji" value="reemisjawmediach">reemisja w mediach</label></div>
                <div class="checkbox"><label><input type="checkbox" name="mozliwepolaeksploatacji" value="inne">inne</label></div>
                <textarea></textarea>
            </div>
            <div id="form_text_4_description" class="form_collapse_class collapse aller_light col-md-12">dawdawdawdawdawdawdawd_DESCRIPTOR1</div>
        </div>

        <div class="row form-group">
            <label class="col-md-10 col-form-label">DOKUMENT POŚWIADCZAJĄCY</label>
            <span data-toggle="collapse" data-target="#form_text_5_description" class="glyphicon glyphicon-question-sign form_tip_sign"></span>
            <div class="col-md-10">
                <input type="file" name="">
                <textarea></textarea>
            </div>
            <div id="form_text_5_description" class="form_collapse_class collapse aller_light col-md-12">dawdawdawdawdawdawdawd_DESCRIPTOR1</div>
        </div>

        <div class="row form-group">
            <label class="col-md-10 col-form-label">UWAGI</label>
            <span data-toggle="collapse" data-target="#form_text_6_description" class="glyphicon glyphicon-question-sign form_tip_sign"></span>
            <div class="col-md-10">
                <textarea></textarea>
            </div>
            <div id="form_text_6_description" class="form_collapse_class collapse aller_light col-md-12">dawdawdawdawdawdawdawd_DESCRIPTOR1</div>
        </div>
    </div>
</div>